* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    background: black;
}

.slider {
    height: 100%;
}

.layer1, .layer2, .layer3 {
    position: absolute;
    inset: 0;
    will-change: transform;
}

.vignette::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 100;
	box-shadow: inset 0 0 200px rgb(0 0 0 / .3);
}

.item {
    overflow: hidden;
}

.wrpper {
    will-change: transform;
    transform-style: preserve-3d;
}

.layer1.back {
    background: url('../assets/images/screen-1/back.jpg') center center/cover no-repeat;
}
.layer1.middle {
    background: url('../assets/images/screen-1/middle.png') center center/cover no-repeat;
}
.layer1.front {
    background: url('../assets/images/screen-1/front.png') center center/cover no-repeat;
}

.layer2.back {
    background: url('../assets/images/screen-2/back.jpg') center center/cover no-repeat;
}
.layer2.front {
    background: url('../assets/images/screen-2/front.png') center center/cover no-repeat;
}
.layer2.geralt {
    background: url('../assets/images/screen-2/geralt.png') center center/cover no-repeat;
}
.layer2.yennefer {
    background: url('../assets/images/screen-2/yennefer.png') center center/cover no-repeat;
}

.layer3.back {
    background: url('../assets/images/screen-3/back.jpg') center center/cover no-repeat;
}
.layer3.middle {
    background: url('../assets/images/screen-3/middle.png') center center/cover no-repeat;
}
.layer3.front {
    background: url('../assets/images/screen-3/front.png') center center/cover no-repeat;
}
.layer3.ciri {
    background: url('../assets/images/screen-3/ciri.png') center center/cover no-repeat;
}